<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>OC Papersubmission Tool</span>
    <span class="example-spacer"></span>
    <a [matMenuTriggerFor]="appMenu"><i class="fas fa-bars"></i></a>

    <mat-menu #appMenu="matMenu">
      <a *ngIf="!isLoggedIn()" href="{{loginUrl}}" mat-menu-item>Login</a>
      <a *ngIf="isLoggedIn()" (click)="logout()" mat-menu-item>Logout</a>
      <a *ngIf="isLoggedIn()" routerLink="/upload" mat-menu-item >Slide Upload</a>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
